@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body {
    background-color: #101323;
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

@media (min-width: 1920px) { 
    a {
        text-decoration: none;
    }
    .breakpoint {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(0, 255, 0);
        width: 1700px;
        height: fit-content;
    }
    /*HERO SECTION-NAVBAR START*/
    .heroSectionNavbar {
        border: 2px solid rgb(0, 128, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
    }
    .heroSectionNavbarContainer {
        border: 2px solid yellow;
        width: 590px;
    }
    .heroSectionNavbarText {
        border: 2px solid pink;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 28px;
    }
    .heroSectionNavbarButton {
        border-color: #A5F3FC;
        background-color: #A5F3FC;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 70px;
        border-radius: 10px;
        font-size: 28px;
        text-transform: capitalize;
        font-weight: 400;
    }
    .heroSectionNavbarButton:hover {
        background-color: #67E8F9;
        border-color: #67E8F9;
        cursor: pointer;
    }
    .heroSectionNavbarButton:active {
        background-color: #22D3EE;
        border-color: #22D3EE;
    }
    .heroSectionNavbarText > a {
        color: #CFFAFE;
        text-transform: capitalize;
    }
    .heroSectionNavbarText > a:hover {
        color: #A5F3FC;
        text-transform: capitalize;
        cursor: pointer;
    }
    .heroSectionNavbarText > a:active {
        color: #67E8F9;
        text-transform: capitalize;
    }
    /*HERO SECTION-NAVBAR END*/

    /*HERO SECTION-MIDDLE START*/
    .heroSectionMiddle {
        border: 2px solid orange;
        background-image: url(Assets/heroBackground.png);
        background-size: contain;
        width: 1700;
        aspect-ratio: 2.28;
    }
    .heroSectionMiddleMainText {
        border: 2px solid rgb(255, 0, 166);
        width: 1490px;
        margin: 100px auto 0 75px;
        font-size: 100px;
        color: #06B6D4;
    }
    .heroSectionMiddleSecondText {
        border: 2px solid red;
        width: 1116px;
        height: auto;
        margin: 50px auto 0 75px;
        font-size: 30px;
        font-weight: 100;
        line-height: 40px;
        color: #A5F3FC;
    }
    .heroSectionMiddleButtons {
        display: flex;
        justify-content: space-between;
        border: 2px solid green;
        width: 470px;
        height: auto;
        margin: 50px auto 0 75px;
    }
    .heroMiddleButtonFirst {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #101323;
        border: 3px solid #67E8F9;
        border-radius: 10px;
        width: 250px;
        height: 70px;
        font-size: 28px;
        font-weight: 400;
        text-transform: capitalize;
        color: #67E8F9;
    }
    .heroMiddleButtonFirst:hover {
        color: #22D3EE;
        border-color: #22D3EE;
        cursor: pointer;
    }
    .heroMiddleButtonFirst:active {
        color: #06B6D4;
        border-color: #06B6D4;
    }
    .heroMiddleButtonSecond {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #67E8F9;
        border-radius: 10px;
        width: 175px;
        height: 70px;
        font-size: 28px;
        font-weight: 400;
        text-transform: capitalize;
        color: #101323;
    }
    .heroMiddleButtonSecond:hover {
        background-color: #22D3EE;
        cursor: pointer;
    }
    .heroMiddleButtonSecond:active {
        background-color: #06B6D4;
        cursor: pointer;
    }
    /*HERO SECTION-MIDDLE END*/
    /*HERO SECTION END*/

    /*SECOND SECTION START*/
    .secondSection {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        border: 5px solid rgb(246, 246, 246);
        width: 100%;
        height: fit-content;
        background-color: #101828;
        border-radius: 0 0 100px 100px;
    }
    .secondSectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
        border: 2px solid rebeccapurple;
    }
    .secondSectionTextAreas {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid red;
        width: fit-content;
    }
    .secondSectionMainText {
        border: 2px solid springgreen;
        display: flex;
        justify-content: center;
        width: fit-content;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 45px;
        text-transform: uppercase;
        color: #06B6D4;
    }
    .secondSectionSecondText {
        border: 2px solid springgreen;
        display: flex;
        text-align: center;
        margin: 25px auto;
        width: 750px;
        font-size: 25px;
        font-weight: 300;
        color: #67E8F9;
    }
    /*SECOND SECTION-FIRST-LVL START*/
    .powerSidesContainer {
        border: 3px solid yellow;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 600px;
    }
    .powerSidesFirstLvl {
        display: flex;
        justify-content: space-between;
        border: 2px solid orange;
        width: 100%; 
    }
    .qualifiedTeam {
        display: flex;
        margin-left: 125px;
        width: fit-content;
        height: 150px;
        border: 2px solid springgreen;
    }
    .qualifiedTeamTextAreas {
        border: 2px solid rgba(255, 77, 0, 0.902);
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 150px;
    }
    .qualifiedTeamMainText {
        border: 2px solid yellow;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
        text-transform: capitalize;
        color: #22D3EE;
    }
    .qualifiedTeamSecondText {
        border: 2px solid rgb(200, 0, 255);
        display: flex;
        margin: 10px auto 5px auto;
        width: 450px;
        height: 85px;
        text-align: center;
        font-size: 22px;
        color: #A5F3FC;
    }
    .qualifiedTeamImgContainer {
        border: 2px solid rgb(142, 139, 232);
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .qualifiedTeamImg {
        background-image: url(Assets/qualifiedIcon.svg);
        background-repeat: no-repeat;
        width: 125px;
        aspect-ratio: 1;
    }
    .highEducation {
        display: flex;
        margin-right: 125px;
        width: fit-content;
        height: 150px;
        border: 2px solid springgreen;
    }
    .highEducationTextAreas {
        border: 2px solid rgba(255, 77, 0, 0.902);
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 150px;
    }
    .highEducationMainText {
        border: 2px solid yellow;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
        text-transform: capitalize;
        color: #22D3EE;
    }
    .highEducationSecondText {
        border: 2px solid rgb(200, 0, 255);
        display: flex;
        margin: 10px auto 5px auto;
        width: 450px;
        height: 85px;
        text-align: center;
        font-size: 22px;
        color: #A5F3FC;
    }
    .highEducationImgContainer {
        border: 2px solid rgb(142, 139, 232);
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .highEducationImg {
        background-image: url(Assets/graduateIcon.svg);
        background-repeat: no-repeat;
        width: 125px;
        aspect-ratio: 1;
    }
    /*SECOND SECTION-FIRST-LVL END*/
    /*SECOND SECTION-SECOND-LVL START*/
    .powerSidesSecondLvl {
        display: flex;
        justify-content: space-between;
        border: 2px solid orange;
        width: 100%; 
    }
    .friendlyCompanies {
        display: flex;
        width: fit-content;
        height: 150px;
        border: 2px solid springgreen;
    }
    .friendlyCompaniesTextAreas {
        border: 2px solid rgba(255, 77, 0, 0.902);
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 150px;
    }
    .friendlyCompaniesMainText {
        border: 2px solid yellow;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
        text-transform: capitalize;
        color: #22D3EE;
    }
    .friendlyCompaniesSecondText {
        border: 2px solid rgb(200, 0, 255);
        display: flex;
        margin: 10px auto 5px auto;
        width: 450px;
        height: 85px;
        text-align: center;
        font-size: 22px;
        color: #A5F3FC;
    }
    .friendlyCompaniesImgContainer {
        border: 2px solid rgb(142, 139, 232);
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .friendlyCompaniesImg {
        background-image: url(Assets/buildingIcon.svg);
        background-repeat: no-repeat;
        width: 125px;
        aspect-ratio: 1;
    }
    .effectiveDevelopment {
        display: flex;
        width: fit-content;
        height: 150px;
        border: 2px solid springgreen;
    }
    .effectiveDevelopmentTextAreas {
        border: 2px solid rgba(255, 77, 0, 0.902);
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 150px;
    }
    .effectiveDevelopmentMainText {
        border: 2px solid yellow;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
        text-transform: capitalize;
        color: #22D3EE;
    }
    .effectiveDevelopmentSecondText {
        border: 2px solid rgb(200, 0, 255);
        display: flex;
        margin: 10px auto 5px auto;
        width: 450px;
        height: 85px;
        text-align: center;
        font-size: 22px;
        color: #A5F3FC;
    }
    .effectiveDevelopmentImgContainer {
        border: 2px solid rgb(142, 139, 232);
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .effectiveDevelopmentImg {
        background-image: url(Assets/increaseIcon.svg);
        background-repeat: no-repeat;
        width: 125px;
        aspect-ratio: 1;
    }
    /*SECOND SECTION-SECOND-LVL END*/

    /*SECOND SECTION-THIRD-LVL START*/
    .powerSidesThirdLvl {
        display: flex;
        justify-content: space-between;
        border: 2px solid orange;
        width: 100%; 
    }
    .versatility {
        display: flex;
        margin-left: 125px;
        width: fit-content;
        height: 150px;
        border: 2px solid springgreen;
    }
    .versatilityTextAreas {
        border: 2px solid rgba(255, 77, 0, 0.902);
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 150px;
    }
    .versatilityMainText {
        border: 2px solid yellow;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
        text-transform: capitalize;
        color: #22D3EE;
    }
    .versatilitySecondText {
        border: 2px solid rgb(200, 0, 255);
        display: flex;
        margin: 10px auto 5px auto;
        width: 450px;
        height: 85px;
        text-align: center;
        font-size: 22px;
        color: #A5F3FC;
    }
    .versatilityImgContainer {
        border: 2px solid rgb(142, 139, 232);
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .versatilityImg {
        background-image: url(Assets/extendIcon.svg);
        background-repeat: no-repeat;
        width: 125px;
        aspect-ratio: 1;
    }
    .organizationOfWork {
        display: flex;
        margin-right: 125px;
        width: fit-content;
        height: 150px;
        border: 2px solid springgreen;
    }
    .organizationOfWorkTextAreas {
        border: 2px solid rgba(255, 77, 0, 0.902);
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 150px;
    }
    .organizationOfWorkMainText {
        border: 2px solid yellow;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
        text-transform: capitalize;
        color: #22D3EE;
    }
    .organizationOfWorkSecondText {
        border: 2px solid rgb(200, 0, 255);
        display: flex;
        margin: 10px auto 5px auto;
        width: 450px;
        height: 85px;
        text-align: center;
        font-size: 22px;
        color: #A5F3FC;
    }
    .organizationOfWorkImgContainer {
        border: 2px solid rgb(142, 139, 232);
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .organizationOfWorkImg {
        background-image: url(Assets/clockIcon.svg);
        background-repeat: no-repeat;
        width: 125px;
        aspect-ratio: 1;
    }
    /*SECOND SECTION-THIRD-LVL END*/
    /*SECOND SECTION END*/

    /*THIRD SECTION START*/
    .thirdSection {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        border: 5px solid rgb(251, 155, 155);
        width: 100%;
        height: fit-content;
    }
    .thirdSectionContainer {
        display: flex;
        justify-content: space-around;
        border: 2px solid rgb(0, 170, 255);
        width: 100%;
        height: fit-content;
    }
    .thirdSectionTextAreas {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid red;
        width: fit-content;
    }
    .thirdSectionMainText {
        border: 2px solid springgreen;
        display: flex;
        justify-content: center;
        width: fit-content;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 45px;
        text-transform: uppercase;
        color: #06B6D4;
    }
    .thirdSectionContainer {
        border: 2px solid yellow;
        display: flex;
        justify-content: space-around;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .thirdSectionFirstPolygionContainer {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
    .thirdSectionFirstPolygon {
        background-image: url(Assets/polygon.svg);
        background-repeat: no-repeat;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -75px;
        width: 130px;
        height: 150px;
        font-size: 40px;
        color: white;
    }
    .thirdSectionFirstSquare {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 400px;
        background-image: url(Assets/rectangleOpacity.svg);
        border-radius: 10px;
    }
    .thirdSectionSquareMainText {
        border: 2px solid red;
        display: flex;
        text-align: center;
        text-transform: capitalize;
        margin-top: 80px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 28px;
        color: #22D3EE;
    }
    .thirdSectionSquareSecondText {
        border: 2px solid red;
        display: flex;
        text-align: center;
        width: 350px;
        text-transform: capitalize;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 22px;
        color: #A5F3FC;
    }
    .thirdSectionSquareMainText2 {
        border: 2px solid red;
        display: flex;
        text-align: center;
        text-transform: capitalize;
        margin-top: 80px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 28px;
        color: #22D3EE;
    }
    .thirdSectionSquareSecondText2 {
        border: 2px solid red;
        display: flex;
        text-align: center;
        width: 350px;
        text-transform: capitalize;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 22px;
        color: #A5F3FC;
    }
    .thirdSectionSecondPolygionContainer {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
    .thirdSectionSecondPolygon {
        background-image: url(Assets/polygon.svg);
        background-repeat: no-repeat;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -75px;
        width: 130px;
        height: 150px;
        font-size: 40px;
        color: white;
    }
    .thirdSectionSecondSquare {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 400px;
        background-image: url(Assets/rectangleOpacity2.svg);
        border-radius: 10px;
    }
    .thirdSectionThirdPolygionContainer {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
    .thirdSectionThirdPolygon {
        background-image: url(Assets/polygon.svg);
        background-repeat: no-repeat;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -75px;
        width: 130px;
        height: 150px;
        font-size: 40px;
        color: white;
    }
    .thirdSectionThirdSquare {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 400px;
        background-image: url(Assets/rectangleOpacity.svg);
        border-radius: 10px;
    }
    /*THIRD SECTION END*/
  }
